@keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  .lds-double-ring {
    position: relative;
  }
  .lds-double-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #e6e0df transparent #e6e0df transparent;
    -webkit-animation: lds-double-ring 2.4s linear infinite;
    animation: lds-double-ring 2.4s linear infinite;
  }
  .lds-double-ring div:nth-child(2) {
    width: 140px;
    height: 140px;
    top: 30px;
    left: 30px;
    border-color: transparent #c8bca2 transparent #c8bca2;
    -webkit-animation: lds-double-ring_reverse 2.4s linear infinite;
    animation: lds-double-ring_reverse 2.4s linear infinite;
  }
  .lds-double-ring {
    width: 51px !important;
    height: 51px !important;
    -webkit-transform: translate(-25.5px, -25.5px) scale(0.255) translate(25.5px, 25.5px);
    transform: translate(-25.5px, -25.5px) scale(0.255) translate(25.5px, 25.5px);
  }
  